<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Makan enak di Rosadi Resto">
  <meta name="theme-color" content="#DB0000"/>
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
 
  <title>Rosadi Resto</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Skip Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>Rosadi Resto</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/list">List Restaurant</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/razif-ilham-932465267/">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero" id="hero">
    <div class="hero_inner">
        <h1 class="hero_title">Rosadi Restaurant</h1>
        <p class="hero_tagline">Solusi mudah untuk mengatasi perut lapar kamu!</p>
    </div>
</div>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <p>All data obtained from <a href="https://restaurant-api.dicoding.dev/" target="_blank" rel="noreferrer">RosadiResto</a></p>
  </footer>
</body>
</html>